*, :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: 'Inter', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    background-color: #0F172A;  
  }
  
  main {
    margin: 0 auto 64px;
  
    max-width: 640px;
    padding: 20px;
  }
  
  header {
    margin-top: 64px;
    padding-bottom: 24px;
    border-bottom: 1px solid #334155;
  }
  
  header h1 {
    margin-top: 24px;
  
    font-size: 30px;
    color: #F1F5F9;
  }
  
  #quiz {
    counter-reset: quiz-item;
  }
  
  .quiz-item {
    overflow: hidden;
    margin-top: 24px;
  
    border: 1px solid #475569;
    border-radius: 6px;
  }
  
  .quiz-item h3 {
    display: flex;
    align-items: center;
    gap: 12px;
  
    padding: 16px 20px;
  
    background-color: #1E293B;
    color: #E2E8F0
  }
  
  .quiz-item h3:before {
    counter-increment: quiz-item;
    content: counter(quiz-item);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  
    width: 28px;
    height: 28px;
  
    background-color: #475569;
    font-size: 12px;
    border-radius: 50%;
  }
  
  .quiz-item dl {
    display: grid;
    gap: 8px;
  
    padding: 20px 24px;
  }
  
  .quiz-item dl dt {
    display: flex;
    align-items: center;
    gap: 8px;
  
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
  
    color: #E2E8F0
  }
  
  input {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
    width: 16px;
    height: 16px;
  
    border: 1px solid #84A3B8;
    border-radius: 50%;
  }
  
  input:checked {
    border: 1px solid #A3E635;
  }
  
  input:checked:before {
    content: "";
  
    width: 10px;
    height: 10px;
  
    background-color: #A3E635;
    border-radius: 50%;
  }
  
  #acertos {
    position: fixed;
    bottom: 0;
    left: 0;
  
    width: 100%;
    padding: 12px;
  
    text-align: center;
    background-color: #A3E635;
  }
  